.cardOutline
{
    display: inline-block;
    margin:10px;
    margin-right:20px;
    padding: 5px;
    border-radius: 8px;
    width: 400px;
    height: fit-content;
    background-color: #d2fdff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.cardOutline:hover
{
    
    box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
      
}

.cardOutline:active
{
    transform: translateY(4px);
    box-shadow: 0px 16px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color: #d2fdff;
}
.title
{
    text-align: left;
    font-size: large;
    width: fit-content;
    color:#303c6c;;
    margin:0px;
    
    padding-left:10px;
    padding-top:10px;
    border-top-left-radius: 8px;
    border-top-Right-radius: 8px;
}
.title:hover
{
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19); 
}
.instructor
{
    text-align: left;   
    font-size: medium;
    width: 50%;
    color:#f4976c;
    align-content: center;
    margin-left:20px;
}
.instructor_Rating
{
    display: flex;
}