@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
.body{
  overflow-x: hidden;  
}
* {
  font-family: "Roboto";
}
/*scrollBar*/
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #e8e8e8;
  border-radius: 200px;
}
::-webkit-scrollbar-thumb {
  background: #f4976c;
  border-radius: 200px;
}
::-webkit-scrollbar-thumb:hover {
  background: #303c6c;
  border-radius: 200px;
}

